{% extends "rms_app/base.html" %}
{% block content %}
    <section id="content1">
        <div id="C1">
            <h3 class="intro">Introduction</h3>
            <p>This project helps a restaurent in food ordering and automatic bill generation</p>
        </div>
        <section id="content2">
            <div id='C2'>
                <!-- <div class="dev1">
                    <h5>Developed With:</h5>
                    <p>Frontend:-Html,CSS,jQuery</p>
                    <p>Backend:-Python,Sqlite,Django</p>
                </div> -->
                <div class="dev2">
                    <h5>Created By:</h5>
                    <p>Vangala Krishna Sai</p>
                    <p>Karpurapu Manoj Kumar</p>
                    <p>Rahul Rathod</p>
                    <p>Bhavani</p>
                    <p>Aritra Banerjee</p>
                </div>
            </div>
        </section>
    </section>
{% endblock content %}

